<li><%= link_to 'Kortit', cards_path %></li>
<li><%= link_to 'Sankarit', heros_path %></li>
<li><%= link_to 'Pakat', decks_path %></li>
<li><%= link_to 'Käyttäjät', users_path %></li>
<li><%= link_to 'Kirjaudu ulos', users_path %></li>

